<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch_etechflow_psopremium_license_gate">
        <observer name="etechflow_psop_add_update_notification"
                  instance="ETechFlow\PageSpeedOptimizerPremium\\Observer\\AddUpdateNotification"/>
    </event>
</config>
